<div class="container" *ngIf="package">
  <a [routerLink]="['/']" class="btn btn-light" >Back</a>
  <div class="card col-md-12 col-sm-12">
    <div class="card-body">
      <h1 class="card-title"><span class="badge badge-primary">{{package.id}}</span></h1>
      <label for="packageVersion"><strong>Version:</strong></label>
      <select id="packageVersion"
              class="form-control"
              [(ngModel)]="package"
              (change)="getPackageInfoByVersion(package)">
        <option *ngFor="let package of packageVersions" [ngValue]="package">
          {{package.version}}
        </option>
      </select>
      <label style="margin-top: 15px;"><strong>Info:</strong></label>
      <p class="card-text">{{package.description}}</p>

      <label><strong>Author:</strong></label>
      <p class="card-text">{{package.authors}}</p>
      <button class="btn btn-secondary" (click)="showDependencies = !showDependencies">
        Frameworks and Dependencies
      </button>

      <div style="margin-top: 15px;" *ngIf="showDependencies">
        <ul class="list-group" *ngFor="let depGroup of package.packageDependencies">
          <li style="margin-top: 5px;" class="list-group-item" *ngIf="depGroup.targetFramework"><b>{{depGroup.targetFramework}}</b>
          </li>
          <li class="list-group-item" *ngFor="let dep of depGroup.dependencies">
            <p class="card-text">{{dep.id}} {{dep.version}}</p>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
